$dark-blue: #092660 ;
$blue:#05519B;
$light-blue:#1976d2 ;
$white:white;
$dark-white: #E3E5EF;
$pdf-background-color:rgb(82, 86, 89);
$pdf-toolbar-color:rgb(50, 54, 57);
$dark-grey:#A4A4A4;
$grey:#ECECF0;
$light-grey: #F6F6F6;
$shadow-color:rgba(0,0,41,0.10);
$red:#ff5252;