//pkgs.dev.azure.com/promod-dosi/_packaging/PromodFront/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/promod-dosi/_packaging/PromodFront/npm/registry/:_password=MzNqZmV2aHZ5YjMyb3l3cHl4ZnJlNXYybGNzd2tjYjYzdXJiNWdvYnNiZTZhbmwybDRzcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/promod-dosi/_packaging/PromodFront/npm/registry/:email=not-used@example.com

@manager-ui:registry=https://pkgs.dev.azure.com/promod-dosi/_packaging/PromodFront/npm/registry/

always-auth=true
